.main-layout {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh; // ensures footer sticks at bottom if little content

  main {
    flex: 1; // pushes footer to bottom
  }
}
