* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
}

#translateButton {
  max-width: 90vw !important;
  right: 11vw !important;
}

@media (min-width: 1600px) {
  #translateButton {
    right: 19vw !important;
  }
}

@media (max-width: 768px) {
  #translateButton {
    right: 5px !important;
    left: auto !important;
  }
}
